<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/dist/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/stylesheets/style.css">

    <script src="/static/dist/jquery/jquery.min.js"></script>
    <script src="/static/dist/tether/js/tether.min.js"></script>
    <script src="/static/dist/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/dist/jqueryui/jquery-ui.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/javascripts/js.cookie.js"></script>
</head>
    <body class="d-flex">
        {{{ body }}}
    </body>
</html>
